<!DOCTYPE html>
<html>
<head>
	<title>Clothes</title>
	<link rel="stylesheet" type="text/css" href="/mimi_equipment.css ">
     <link rel="stylesheet" href="/index/assets/css/mimi_equipment.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="icon" href="mimi sensation logo.JPG" type="png" sizes="16x16">
</head>


<body>
     <div class = "header">
          <div class="Salmon">
          <h1 class="SalmonText"><i><b>John Hopkins Laboratory Facility</b></i></h1>
     </div>

     <div class="Black">
           <div id="navbar">
           <a href="/">Home</a>
           
          
          <input type="text" placeholder="Search" class="Search">
          </div>    
     </div>
     </div>
	

	<div class="BigBox">
		<h1 class="BigBoxText"><b>EQUIPMENTS</b></h1>
	</div>


    <div class="Gray">
    	<img src="/index/assets/img/sterilizer.jpg" class="Clothes">
    	<button class="button">$45.00</button>
    </div> 
    <div class="Gray">6
    	<img src="/index/assets/img/medical incubator.png" class="Clothes">
    	<button class="button">$78.00</button>
    </div>
    <div class="Gray">
    	<img src="/index/assets/img/anastesia machine.jpg" class="Clothes">
    	<button class="button">$23.00</button>
    </div> 
    <div class="Gray">
    	<img src="/index/assets/img/genetic analyser.png" class="Clothes">
    	<button class="button">$89.00</button>
    </div> 
    <div class="Gray">
    	<img src="/index/assets/img/6defribillators.png" class="Clothes">
    	<button class="button">$90.00</button>
    </div> 
    <div class="Gray">
    	<img src="/index/assets/img/patient monitor.jpg" class="Clothes">
    	<button class="button">$67.00</button>
    </div> 
    <div class="Gray">
    	<img src="/index/assets/img/sterilizer.jpg" class="Clothes">
    	<button class="button">$34.00</button>
    </div> 
    <div class="Gray">
    	<img src="images/" class="Clothes">
    	<button class="button">$78.00</button>
    </div> 

 








</body>
</html>